section.section.hero
	#parallax.parallax
		- for (var i = 9; i > 0; i--)
			.parallax__layers
				img(src=`./images/layer-${i}.png`).parallax__image
				.img__blok
	.hero__socials
		ul.socials
			-
				var socials = [
					['fb','https://www.facebook.com/profile.php?id=100008099054335'],
					['github','https://github.com/YevheniiGurinets'],
					['in','https://github.com/YevheniiGurinets']
				]
			each item in socials
				li.socials__item
					a(href=`${item[1]}` target="_blank" class=`socials__item_${item[0]} ${item[0]}`).socials__link
	.hero__menu.hamburger
	.hero__title
		.user.hero__user
			.user__pic
				.user__avatar
			.user__description
				.user__name Евгений Гуринец
				.user__info Личный сайт разработчика
	.hero__scroll-btn
		button(type="button").arrow-down
