section.section.about
	.about__left.about__block
		.about__triangle.about__triangle_left
		.about__left-title
			.block-title Обо мне
		.about__left-content
			.user-discription
				.user-description__image
				.user-description__title
					.block-subtitle Кто я
				.user-description__text.text-content
					p Я веб разработчик из Киева. Мне 23. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
					p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
	.about__right.about__block
		.about__triangle.about__triangle_right
		.about__right-title
			.block-subtitle Чем я могу быть <br> вам полезен
		.about__right-description.text-content
			p Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
		.about__right-content
			ul.skills-list
				-
					var skill_list = [
						['HTML5','CSS3','JavaScript & JQuery','AngularJS'],
						['PHP','mySQL','Node.js & npm','Mongo.db'],
						['Git','Gulp','WebPack']
					]
					var skills = [
						['Frontend',0],
						['Backend',1],
						['WorkFlow',2]
					]
				each skill in skills
					li.skills-list__item
						.skills-row
							.skills-row__title= skill[0]
							ul.skills-row__list
								each item in skill_list[skill[1]]
									li(id=`${item.split(' ')[0].split('.')[0]}`).skills-row__circl
										span.skills-row__item= item
