section.section.reviews
	.reviews__wrap
		.review-block
			.reviews__title
				.block-subtitle Что обо мне<br>говорят
		.review-block.reviews__items
			.reviews__item
				.quotes
				p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
				.reviews__item-describe
					.person__img
					.person__info
			.reviews__item
				.quotes
				p Этот код выдержит любые испытания. Только пожалуйста, не загружается сайт на слишком старых браузерах!
				.reviews__item-describe
					.person__img
					.person__info
		.review-block.reviews__form
			form.form
				.form__title
					.block-subtitle Связатся со мной
				input(type="text" placeholder="Имя").form__name
				input(type="text" placeholder="Email").form__email
				textarea(placeholder="Ваше сообщение").form__text
				.block__buttons
					.button#push Отправить
					.button#clean Очистить
		.review-block
			.block__arrow__up