extends ../base

block variables
	-var title = 'Main page'

block content
	include ../mainpage/logo/logo.pug
	include ./myworks/myworks.pug
	include ./reviews/reviews.pug
	include ../../components/footer/footer.pug