section.section.myworks
	.myworks__logo
		.myworks__logo-title
			.block-title Мои работы
	.myworks__blocks-wrap
		.myworks__block.myworks__left
			.myworks__left-content
				.myworks__content__title
					.block-subtitle Сайт школы онлайн образования
				.myworks__content__description
					.myworks-description HTML, CSS, JAVASCRIPT
				.myworks__content__button
					a(href="#" target="_blank").myworks-btn
						.myworks-btn__img
						.myworks-btn__text Посмотреть сайт
		.myworks__block.myworks__right
			.myworks__right-slider.slider
				.slider__view
				.slider__controls
					.slider__control.prev
						.slider__control-overlay
							.slider_arr.down
					.slider__control.next
						.slider__control-overlay
							.slider_arr.up