<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<div class="flip-container">
 		<div class="flipper">
 		 <div class="front">
 			<input type="" name="">
 			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius, adipisci. </p>
 		 </div>
 		 <div class="back">
 			<input type="" name="">
 			<p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. </p>
  		 </div>
 	</div>
</div>
</body>
</html>